<?xml version="1.0" encoding="utf-8"?>
<System>
  <Station>
    <BU>CABU</BU>
    <CustomerName>Bose</CustomerName>
    <ProjectName>Phelps</ProjectName>
    <ProductName>Phelps</ProductName>
    <StationName>Main_Board_BRF</StationName>
    <LineNo>C28</LineNo>
    <ProcessNo>Main_Board_BRF</ProcessNo>
    <Stage>EVT</Stage>
    <Location value="TYDG" />
  </Station>
  <Sfcs>
    <SfcsTable>MES_Transfer_Phelps_Main_Board_BRF<!--SFCs Table Name, provide by SFCs--></SfcsTable>
    <EnableSfc>true<!--Enable SFCs or not, Causion: Offline mode only mean no check station and upload into SFCs, the GetPartNo will still work--></EnableSfc>
    <SfcsUploadData>true<!--if upload into SFCs contains detail test data or not--></SfcsUploadData>
    <GetPartNoApi>Get_Model_forSub<!--Get_Model_forSub, Get_Model, depends on SFCs team--></GetPartNoApi>
    <Version>1.0<!--SFCs requirements. Default is 1.0--></Version>
  </Sfcs>
  <General>
    <RestrictLimit prefix_defectcode="EX-">false<!--If true, the limit will be load from DB not just from sequence file. Default is true--></RestrictLimit>
    <AutoCapitalSN>true<!--Prevent keyboard mistake trigged--></AutoCapitalSN>
    <RE_SerialNumber>^(\w{23}|\w{2})$<!--Regular Expression for SN. In Batch mode. the attr re_subsn is to match the data in MainSN. the attr subsn means how the subsn generated--></RE_SerialNumber>
    <CustomizeInputSn>false<!--If true, the test seq could override the TYM_CustomizeInputSn to take over from the default UI--></CustomizeInputSn>
    <RE_SocketNumber>^SLOT(\d+)#$<!--Regular Expression. Only for Multiple Slot supporting--></RE_SocketNumber>
    <InputUserName>false<!--Reuqire to Input User Name or not--></InputUserName>
    <RunMode>Default_Sequential<!--Model type. Could be Normal or Batch, default: Normal--></RunMode>
    <SocketCount>1<!--Multi-Slot Jig Support, If configured, the program will create multiple instance to run.--></SocketCount>
    <LoopTest>0<!--Regular Expression for SN--></LoopTest>
    <ReportPath>C:\TYM_Report<!--Test Report Path. Only impact the report which generated by this system--></ReportPath>
    <Raw_ReportPath>C:\TYM_Raw_Report<!--Test Report Path. To store the raw report which generated by test engine, eg. teststand--></Raw_ReportPath>
    <ErrorHandle>1<!--0: RTEOption_ShowDialog/1: RTEOption_Continue/2: RTEOption_Ignore/3: RTEOption_Abort/4: RTEOption_Retry. For TestStand Only--></ErrorHandle>
    <AutoBreakWhenFailure>false<!--True/False, Default False For TestStand--></AutoBreakWhenFailure>
    <AutoCleanupWhenFailure>true<!--True/False, For TestStand--></AutoCleanupWhenFailure>
    <TestTimeout>-1<!--For Warning the operator if sequence runs over the time. unit second; Default -1--></TestTimeout>
  </General>
</System>